# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - develop
  paths:
    include:
      - ai_tools/**
      - app/**
      - calculation_tools/**
      - data/**
      - database_tools/**
      - main.py

pool:
  name: self-hosted cn pool

steps:
- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |  
      version=$(python version.py)  
      echo "##vso[task.setvariable variable=version]$version"
  displayName: 'Get version'

- task: Docker@2
  inputs:
    containerRegistry: 'xChina-crxchinacdhprod'
    command: 'login'
    addPipelineData: false
    addBaseImageData: false

- task: Bash@3
  inputs:
    filePath: 'docker/build.sh'

